{
  "$type": "System.Collections.Generic.List`1[[ZoneLighting.ZoneNS.Zone, ZoneLighting]], mscorlib",
  "$values": [
    {
      "$type": "ExternalZones.LeftWing, ExternalZones",
      "Name": "LeftWing",
      "temp": "Brown",
      "ZoneProgram": {
        "$type": "ExternalPrograms.ScrollDot, ExternalPrograms",
        "Name": "ScrollDot",
        "Inputs": {
          "$type": "ZoneLighting.ZoneProgramNS.ZoneProgramInputCollection, ZoneLighting",
          "$values": [
            {
              "$type": "ZoneLighting.ZoneProgramNS.ZoneProgramInput`1[[System.Object, mscorlib]], ZoneLighting",
              "Name": "DelayTime",
              "Type": "System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089",
              "Value": 30
            },
            {
              "$type": "ZoneLighting.ZoneProgramNS.ZoneProgramInput`1[[System.Object, mscorlib]], ZoneLighting",
              "Name": "DotColor",
              "Type": "System.Nullable`1[[System.Drawing.Color, System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089",
              "Value": "Chartreuse"
            }
          ]
        }
      }
    },
    {
      "$type": "ExternalZones.RightWing, ExternalZones",
      "Name": "RightWing",
      "temp": "Brown",
      "ZoneProgram": null
    }
  ]
}