@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Zone Lighting Manager";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$("#btnInit").click(function() {
            var url = "@Url.Action("InitializeZLM", "Test")";
            $.get(url, null, function(data) {
                $("#result").html(data);
            });
        });

    	$("#btnUninit").click(function() {
    		var url = "@Url.Action("UninitializeZLM", "Test")";
    		$.get(url, null, function(data) {
    			$("#result").html(data);
    		});
    	});
    });
</script>

<input type="button" id="btnInit" value="Initialize Zone Lighting Manager" />
<input type="button" id="btnUninit" value="Uninitialize Zone Lighting Manager" />
<div id="result"></div>