/*.on {
	background-color: powderblue;
	color: darkblue;
}*/

/*highlights the rows on mouseover*/


.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #550055;
	color: #eeeeee;
}

.table-hover > tbody > tr > td.on {
	background-color: mediumseagreen;
	color: rgb(32, 54, 54);
}

input {
	color: navy;
}