/*.on {
	background-color: powderblue;
	color: darkblue;
}*/

/*highlights the rows on mouseover*/



.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #3F5AE0;
	color: #eeeeee;
}

.table-hover > tbody > tr > td.on {
	background-color: #60AD1F;
	color: rgb(32, 54, 54);
}

    .on {
	background-color: #60AD1F;
	color: rgb(32, 54, 54);
}

input {
	color: navy;
}

.inTable {
	display: inline-flex; 
	width: inherit;
}

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.panel {
	border-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-control {
	/*border-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;*/
}