@model WebController.Controllers.ZLMViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	ViewBag.Title = "Zone Lighting Manager";
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<div class="row">
	<div class="col-lg-12">
		<h1>Dashboard <small>Zone Lighting Manager</small></h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="zlmContainer">
			<div class="row">
				<div class="col-lg-9">
					@Html.Partial("ZonesControl", Model.ZLM)
					<div id="programSets">
						@Html.Partial("ProgramSet", Model.ZLM)
					</div>
					@Html.Partial("Notification", Model.ZLM)
				</div>
				<div class="col-lg-3">
					@Html.Partial("AdminControl", Model.ZLM)
				</div>
			</div>
		</div>
	</div>
</div>
