@*@model ZoneLighting.ZoneProgramNS.ProgramSet

<div>
	@foreach (var item in Model)
	{

	}
</div>








<table>
	<tr>
		<th>Employee</th>
		<th>Position</th>
		<th>Phone</th>
		<th>Email</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Position</td>
			<td>@item.Phone</td>
			<td>@item.Email</td>
		</tr>
	}
</table>*@