<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.1" targetFramework="net461" />
  <package id="JustMock" version="2014.3.1204.3" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="Refigure" version="1.0.13.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net461" />
  <package id="xunit" version="1.9.2" targetFramework="net461" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net461" />
</packages>