<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.1" targetFramework="net451" userInstalled="true" />
  <package id="JustMock" version="2014.3.1204.3" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net451" userInstalled="true" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" userInstalled="true" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="1.9.2" targetFramework="net451" userInstalled="true" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" userInstalled="true" />
</packages>