@model ZoneLighting.ZoneNS.Zone
<tr>
	<td>@Model.Name</td>
	<td><input type="submit" value="Start_@(Model.Name)" id="btnStart" name="Command" /></td>
	<td><input type="submit" value="Stop_@(Model.Name)" id="btnStop" name="Command" /></td>
</tr>
